@charset "UTF-8";
.border-top {
  border-top: 1px solid #ccc; }

.box-border {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

/*---初始化---*/
* {
  padding: 0;
  margin: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

td, th, caption {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

address, caption, cite, code, dfn, th, var, label {
  font-style: normal;
  font-weight: normal; }

a {
  color: #030304;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:link {
  text-decoration: none; }

i {
  font-style: normal; }

img {
  border: none; }

ol, ul, li {
  list-style: none; }

.clear {
  clear: both; }

.f-14 {
  font-size: 14px; }

.f-13 {
  font-size: 13px; }

.f-12 {
  font-size: 12px; }

.f-15 {
  font-size: 15px; }

.f-16 {
  font-size: 16px; }

.f-24 {
  font-size: 24px; }

.f-20 {
  font-size: 20px; }

.f-18 {
  font-size: 18px; }

.f-48 {
  font-size: 48px; }

.f-32 {
  font-size: 32px; }

/*---初始化---*/
body {
  font-family: Microsoft Yahei,微软雅黑, arial;
  font-size: 14px;
  color: #030304; }

input, textarea {
  box-shadow: none !important; }

.header {
  background: #fff;
  border-bottom: 1px solid #e8e7e7;
  box-shadow: 0 0 10px #e8e7e7; }

.fixed-top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e8e7e7;
  box-shadow: 0 0 10px #e8e7e7;
  padding: 8px 0;
  z-index: 999; }

.logo {
  padding: 15px 0;
  text-align: center;
  background: #fff; }

.navTop {
  text-align: center;
  background: #fff;
  -webkit-transition: padding 1s ease-in-out;
  -moz-transition: padding 1s ease-in-out;
  -ms-transition: padding 1s ease-in-out;
  -o-transition: padding 1s ease-in-out;
  transition: padding 1s ease-in-out; }

#navTopList {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

#navTopList li {
  float: left;
  padding: 23px 25px 17px; }

#navTopList li a {
  font-weight: bold;
  font-size: 14px;
  text-align: center; }

#aside {
  position: fixed;
  top: 145px;
  right: 0;
  z-index: 999;
  width: 90px;
  border: 1px solid #e8e7e7;
  border-right: none;
  border-top: none;
  background: #fff;
  text-align: center; }

#asideList li {
  height: 70px;
  line-height: 70px;
  position: relative; }

.cartNum {
  position: absolute;
  top: -26px;
  left: 28px; }

#asideList li .iconfont {
  font-size: 32px; }

#asideList li:hover .iconfont {
  color: #ff5400;
  cursor: pointer; }

.footer-top {
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  padding: 10px 0; }

.footer-top li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 25%;
  float: left;
  color: #989898;
  padding: 2.5px 0;
  border-right: 1px solid #dcdcdc; }

.footer-top li:last-child {
  border-right: none; }

.footer-top .iconfont {
  font-size: 60px;
  vertical-align: middle; }

.footerService {
  font-size: 24px;
  color: #9d9c9c;
  vertical-align: middle; }

.footerContent {
  margin: 70px 0; }

#footerList {
  float: left; }

#footerList .footerNav {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left;
  padding-right: 84px;
  font-size: 16px;
  font-weight: bold;
  color: #030304; }

#footerList .footerLinks {
  margin-top: 15px;
  line-height: 2; }

#footerList .footerLinks a {
  font-weight: normal;
  color: #9d9c9c; }

#footerList .footerLinks a:hover, #footerList .footerLinks a:focus {
  color: #ff5400; }

#footerList .footerLinks a:focus {
  outline: none; }

#footerContact {
  float: right;
  text-align: center; }

.footer-call {
  font-size: 35px;
  color: #ff5a0a;
  font-weight: normal; }

.footer-text {
  font-size: 16px;
  color: #9d9c9c;
  margin: 10px 0; }

.serviceCall {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ff5400;
  border: 1px solid #ff5400;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  margin-top: 10px; }

.serviceCall:hover, .serviceCall:visited, .serviceCall:focus {
  background: #ff651a;
  color: #fff;
  border-color: #ff651a; }

.serviceCall i {
  font-size: 28px;
  vertical-align: middle;
  padding-right: 10px; }

.serviceCall span {
  vertical-align: middle; }

.footerCode {
  margin-top: 35px; }

.footerCode img {
  margin-right: 20px; }

.footerBar {
  height: 74px;
  line-height: 74px;
  background: #f4f4f4;
  text-align: center;
  color: #9d9c9c; }

.navAdd-block {
  padding: 25px 30px; }

.navAdd-a {
  color: #898888; }

.navAdd-dot {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #898888;
  margin: 0 5px 3px 5px; }

.sy-pager {
  position: relative;
  top: -40px;
  z-index: 999; }

.sy-pager li {
  width: 1em;
  height: 1em; }

.sy-pager li.sy-active a {
  background-color: #ff5400; }

.app {
  text-align: center;
  padding-bottom: 25px; }

.app .pro_kinds {
  padding: 27px 0 55px 0; }

.app_div {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  border: 2px solid #ebebeb;
  text-align: center;
  line-height: 200px; }

.app_a {
  display: block; }

.index-shop {
  background: #f4f4f4;
  text-align: center;
  padding-bottom: 25px; }

.pro_kinds {
  font-size: 28px;
  color: #030304;
  padding: 55px 0; }

.product {
  width: 100%;
  background: #fff;
  height: 300px;
  margin-bottom: 30px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.pro-img {
  padding-left: 50px;
  line-height: 300px; }

.pro-info {
  padding-right: 50px; }

.pro_name {
  font-size: 24px;
  color: #000;
  margin-top: 95px; }

.pro_tip {
  font-size: 18px;
  color: #898888;
  margin-bottom: 17px;
  margin-top: 10px; }

.pro_money {
  font-size: 24px;
  color: #ff5400;
  font-weight: bold;
  margin-bottom: 5px; }

.product:hover {
  transform: translate3d(0, -2px, 0);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }

.product_img {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.product:hover .product_img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

.index-ktv {
  width: 100%;
  overflow: hidden;
  padding-bottom: 25px;
  position: relative; }

.shop-left {
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 9; }

.shop-right {
  position: absolute;
  right: 30%;
  top: 50%;
  z-index: 9; }

@media only screen and (min-width: 401px) {
  .index-ktv .sy-box .sy-slides-wrap {
    min-width: 400px;
    max-width: 590px;
    width: 50%;
    margin-left: auto;
    margin-right: auto; } }
.index-ktv .sy-box .sy-slides-crop {
  overflow: visible; }

@media only screen and (max-width: 500px) {
  .index-ktv .sy-box .sy-controls li {
    min-width: 2.4em; }

  .index-ktv .sy-box .sy-controls li a:after {
    line-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em; } }
@media only screen and (min-width: 501px) {
  .index-ktv .sy-box .sy-controls li {
    width: 100%; }

  .index-ktv .sy-box .sy-controls li.sy-prev {
    left: -100%; }

  .index-ktv .sy-box .sy-controls li.sy-next {
    right: -100%; }

  .index-ktv .sy-box .sy-controls li a:after {
    background: none; } }
.index-ktv .sy-box .sy-slide {
  opacity: 0.6;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

@media only screen and (max-width: 500px) {
  .index-ktv .sy-box .sy-slide .product-info {
    padding: 1em 2.4em; } }
.index-ktv .sy-box .sy-slide .product-info p {
  margin-bottom: 1em; }

.index-ktv .sy-box .sy-slide .product-info p {
  opacity: 1; }

.index-ktv .sy-box .sy-slide .image-content {
  line-height: 0; }

.index-ktv .sy-box .sy-slide .image-content .product-image {
  max-width: 100%; }

.index-ktv .sy-box .sy-slide.sy-active {
  opacity: 1; }

.index-ktv .sy-box .sy-slide.sy-active .buy-now {
  opacity: 1; }

.index-ktv .product-info {
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 999;
  color: #fff;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px; }

.index-ktv .sy-box .sy-slide.sy-active:hover .product-info p, .index-ktv .sy-box .sy-slide.sy-active:hover .product-info .button-link {
  opacity: 1; }

.index-ktv .sy-box .sy-slide .product-info p,
.index-ktv .sy-box .sy-slide .product-image, .index-ktv .sy-box .sy-slide.sy-active, .index-ktv .sy-box .sy-slide.sy-active:hover .product-image, .index-ktv .sy-box .sy-slide.sy-active:hover .product-info p, .index-ktv .sy-box .sy-slide.sy-active.transition {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.index-ktv-slider .slide_box {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 401px) {
  .index-ktv-slider .slide_box {
    min-width: 400px;
    max-width: 590px;
    width: 50%; } }
.index-ktv .sy-pager {
  position: relative;
  top: 0;
  z-index: 999; }

.index-ktv .sy-pager li {
  width: 0.6em;
  height: 0.6em; }

.ktv_a {
  color: #fff; }

.ktv_a:hover {
  color: #fff; }

.product-td {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 270px;
  font-size: 16px;
  vertical-align: middle;
  line-height: 2; }

.product-yuan {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.product-money {
  font-size: 24px;
  font-weight: bold; }

.pro_moreDetail {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fefefe;
  background: #ff5400;
  border-radius: 5px;
  vertical-align: middle;
  margin-top: 15px;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.3); }

.pro_moreDetail:hover {
  color: #fff;
  background: #ff651a; }

.productLeft {
  padding: 66px 0 66px 300px;
  background: #ff973c;
  width: 800px; }

.productRight {
  padding: 66px 0 66px 120px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }

.productTags {
  color: #5f5f5f;
  font-size: 16px; }

.productName {
  font-size: 30px;
  color: #2b2b2b;
  margin: 15px 0;
  font-weight: bold; }

.productWords {
  font-size: 22px;
  color: #9d9c9c; }

.productMoney {
  font-size: 30px;
  color: #ff5400;
  font-weight: bold;
  margin: 20px 0 20px 0; }

.accWords, .colorsWords {
  font-size: 20px;
  color: #2b2b2b;
  padding-right: 45px; }

.accessoriesImgs {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 600px; }

.accessoriesImgs li {
  float: left;
  width: 60px;
  height: 60px;
  border: 1px solid #f3f3f3;
  margin: 0 24px 15px 0;
  text-align: center;
  line-height: 60px; }

.colors {
  margin: 25px 0; }

.chooseColors {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

#chooseColor li {
  width: 200px;
  height: 60px;
  margin-top: 0; }

.colorCircle {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 15px; }

.black {
  background: #38383d; }

.rose {
  background: rosybrown; }

.proService {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.proService span {
  padding: 0 25px;
  font-size: 22px;
  color: #9d9c9c;
  vertical-align: middle; }

.proService .iconfont {
  font-size: 60px;
  vertical-align: middle; }

.proService .icon-tianwuliyoubaotui {
  color: #5555f4; }

.proService .icon-tianbaohuan {
  color: #00c424; }

.proService .icon-quanguobaoyou {
  color: #ff493c; }

.proBuy {
  width: 694px;
  margin-top: 30px;
  padding: 50px 23px;
  background: #fff;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.1); }

.proBuy .btn {
  padding: 21px 20px;
  border-radius: 0;
  border-color: #ececec;
  font-size: 24px;
  color: #a09e9e; }

.proBuy .inputBtn {
  width: 120px;
  color: #131313; }

.proBuy .btn:hover, .proBuy .btn:focus {
  background: #fff; }

.proBuy .btn-group {
  margin-right: 24px; }

.addTo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 180px;
  height: 78px;
  text-align: center;
  line-height: 78px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  background: #ff973c;
  border-radius: 6px;
  margin-right: 24px;
  vertical-align: middle; }

.addTo:hover, .addTo:focus {
  background: #ffa556;
  color: #fff; }

.buyTo {
  margin-right: 0;
  background: #ff4437; }

.scrollBuyTo {
  margin-right: 0;
  background: #ff4437;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 120px;
  visibility: hidden; }

.buyTo:hover, .buyTo:focus, .scrollBuyTo:hover, .scrollBuyTo:focus {
  background: #ff5c51;
  color: #fff; }

.pageNav {
  height: 82px;
  line-height: 82px;
  background: #fff;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.1); }

.detailNav li {
  float: left;
  padding-right: 200px; }

.detailNav li:last-child {
  padding-right: 0; }

.detailNav .details {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #9d9c9c; }

.detailNav .active .details {
  color: #e8334a; }

.scrollNavFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  line-height: 82px;
  background: #fff;
  z-index: 99999; }

.content {
  background: #f3f3f3; }

.shopCart-top {
  padding: 0 30px;
  background: #fff;
  height: 82px;
  line-height: 82px; }

#cartTable {
  background: #fff;
  text-align: center;
  margin: 38px 0 82px; }

.carHead {
  height: 62px;
  line-height: 62px;
  border-bottom: 1px solid #f3f3f3; }

.carHead_left {
  margin-left: -45px; }

.item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f3f3f3; }

.item_left {
  padding: 0;
  height: 102px;
  line-height: 102px; }

.item_height {
  height: 102px;
  line-height: 102px; }

.carHead_right {
  padding-right: 30px; }

.checkbox {
  width: 48px;
  margin: 0; }

.checkbox label {
  padding: 0; }

input[type='checkbox'] {
  display: none; }

input[type="checkbox"] + label span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 18px;
  height: 18px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(images/check.jpg) center no-repeat;
  cursor: pointer; }

input[type="checkbox"]:checked + label span {
  background: url(images/checked.jpg) center no-repeat; }

.item_left input[type="checkbox"] + label span {
  margin: -2px auto 0; }

.item_left .checkbox {
  width: auto;
  margin-left: 15px; }

.check-all {
  vertical-align: middle; }

.goods {
  width: 460px; }

.goods .goods-name {
  width: 180px;
  margin-top: 20px;
  text-align: left;
  float: left; }

.goods .goods-color {
  width: 180px;
  margin-top: 5px;
  text-align: left;
  float: left;
  color: #898888; }

.goods .goods-img {
  width: 102px;
  height: 102px;
  line-height: 102px;
  border: 1px solid #f3f3f3;
  text-align: center;
  margin-right: 35px;
  float: left; }

.price {
  width: 130px; }

.count {
  width: 100px; }

.count .add, .count-input, .count .reduce {
  float: left;
  margin-right: -1px;
  position: relative;
  z-index: 0; }

.count .add, .count .reduce {
  height: 30px;
  width: 30px;
  border: 1px solid #898888;
  text-align: center;
  line-height: 23px;
  color: #444; }

.count .add:hover, .count .reduce:hover {
  z-index: 3;
  cursor: pointer; }

.count-input {
  width: 40px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #898888;
  color: #343434;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  z-index: 2; }

.count-input:focus {
  outline: none; }

.subtotal {
  width: 150px; }

.operation {
  padding-right: 35px;
  text-align: right;
  font-weight: bold; }

.operation span:hover, a:hover {
  cursor: pointer;
  color: #ff5400; }

.item_img .goods-img {
  margin-left: 20px; }

.item_height .count {
  width: 100px;
  height: 30px;
  margin: 36px auto; }

.item_height .operation {
  text-align: center; }

.gifts {
  margin-top: 30px; }

.gifts .myOrderList_gifts {
  padding: 0 0 0 20px; }

.gifts .gifts_t {
  width: 160px;
  text-align: right;
  margin-left: 0;
  padding-right: 15px; }

.gifts .gifts_name {
  padding-left: 15px; }

.foot {
  height: 82px;
  line-height: 82px;
  background: #fff;
  position: relative;
  z-index: 8;
  padding-right: 30px; }

.foot .select-all {
  padding-left: 30px;
  text-align: center; }

.foot .delete {
  padding-left: 40px;
  padding-right: 40px; }

.foot .closing {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 60px;
  border: 1px solid #fe3232;
  background: #fe3232;
  width: 122px;
  height: 54px;
  margin-left: 15px;
  line-height: 54px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px; }

.foot .closing:hover {
  background: #ff4747;
  color: #fff; }

.foot .total {
  cursor: pointer; }

.foot #selectedTotal, .foot #chooseAll {
  color: #ff5400;
  font-weight: bold; }

.foot #priceTotal, .foot .priceIcon {
  color: #ff5400;
  font-weight: bold;
  font-size: 30px; }

.foot .selected {
  cursor: pointer; }

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e8e7e7;
  box-shadow: 0 0 10px #e8e7e7;
  padding-right: 0; }

.foot .container {
  padding: 0; }

.fixed-bottom .container {
  padding-left: 15px;
  padding-right: 15px; }

.fixed-bottom .closing {
  margin-right: 30px; }

.deleteModal_t {
  margin-bottom: 28px; }

.orderAdd {
  background: #fff;
  margin: 35px 0 30px;
  padding: 28px 30px; }

.addMenu, .addMenu-new {
  width: 100%;
  height: 157px;
  border: 2px solid #898888;
  border-radius: 8px;
  padding: 18px;
  margin: 28px 0 30px 0;
  cursor: pointer;
  float: left;
  position: relative;
  overflow: hidden; }

.addGou {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden; }

.addMenu-new {
  margin-right: 0;
  border-color: #f3f3f3; }

.defaultAdd .addMenu {
  border-color: #ff5400; }

.defaultAdd .addGou {
  visibility: visible; }

.addMenu p {
  margin-bottom: 10px; }

.addMenu-add {
  line-height: 1.8; }

.defaultAdd .change_tip {
  visibility: visible; }

.defaultTip {
  color: #ff5400;
  visibility: hidden; }

.addMenu:hover .defaultTip {
  visibility: visible; }

.addMenu-div {
  text-align: center;
  margin-top: 30px; }

.addMenu-div .iconfont {
  font-size: 30px;
  color: #898888; }

#paywayAli, #saleOff {
  display: none;
  background: url("images/payAli-bg.png") no-repeat;
  width: 400px;
  height: 61px;
  color: #898888;
  text-align: left;
  padding-top: 25px;
  padding-left: 50px;
  margin-top: 10px; }

#saleOff {
  display: block;
  padding-left: 20px; }

.invoiceForm {
  margin-top: 28px; }

.invoiceLabel {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 130px;
  vertical-align: middle;
  color: #898888; }

.inputDiv {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.invoiceInput {
  width: 400px;
  padding: 12px;
  border: 1px solid #898888;
  border-radius: 6px; }

.invoiceInput:focus {
  outline: none; }

.redColor {
  color: #ff5400; }

#companyInvoice {
  display: none; }

.sureOrder-t {
  line-height: 34px; }

.sureOrder-t .goBack, .sureOrder-t .iconfont, .goBuy, .shopCart-top .iconfont {
  vertical-align: middle; }

#sureOrderTable {
  margin-top: 30px;
  margin-bottom: 0; }

#sureOrderTable .sureOrderTable_head {
  border-top: 1px solid #f3f3f3;
  padding: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3; }

#sureOrderTable .sureOrderTable_item {
  height: 176px;
  line-height: 176px;
  text-align: center; }

.sureOrder-goods .goods-name {
  text-align: left;
  height: auto;
  line-height: normal; }

.sureOrder-goods .goods-color {
  margin-top: 5px;
  text-align: left;
  color: #898888;
  height: auto;
  line-height: normal; }

.goods-info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.sureOrder-goods .goods-img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 102px;
  height: 102px;
  line-height: 102px;
  border: 1px solid #f3f3f3;
  text-align: center;
  margin-right: 50px; }

.sureOrder-text {
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  resize: none;
  margin-top: 29px;
  color: #898888; }

.sureOrder-text:focus {
  outline: none; }

.offerOrder {
  text-align: right;
  padding-top: 62px; }

.offerOrder p {
  margin-bottom: 26px; }

.offerOrder-money, .delivery-money, .off-money {
  font-weight: bold;
  color: #ff5400; }

.totalMoney {
  border-top: 1px solid #f3f3f3;
  padding-top: 26px; }

.allMoney {
  font-weight: bold;
  font-size: 30px;
  color: #ff5400; }

.offerOrder-name {
  padding-right: 20px; }

.payContent, .onlinePayWay {
  padding: 20px 30px;
  background: #fff;
  margin: 28px 0; }

.onlinePayWay {
  margin-bottom: 82px; }

.payOk {
  font-size: 60px;
  color: #ff5400;
  padding-right: 35px; }

.payOrder {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }

.payOrder-p {
  font-size: 24px;
  margin: 10px 0 15px; }

.payOrder-p span {
  color: #ff5400; }

.moreOrderDetail {
  color: #898888;
  line-height: 2;
  display: none; }

.dis_block {
  display: block; }

.scale_img {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  /*IE*/
  filter: FlipV; }

.payOrder_tips {
  margin: 20px 0 15px; }

.orderInfo {
  color: #898888;
  margin-top: 5px; }

.orderInfo span {
  padding-right: 10px; }

.orderMore {
  color: #ff5400; }

.orderMore .iconfont {
  position: relative;
  top: 5px;
  font-size: 24px; }

.choose input {
  display: none; }

.choose label {
  display: block; }

.choose li, .addSaleOff {
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 28px 28px 0 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left; }

.addSaleOff {
  float: none;
  border: 1px solid #898888;
  border-radius: 6px; }

.choose li:hover {
  color: #ff5400; }

.addSaleOff:hover {
  border-color: #ff5400;
  cursor: pointer;
  color: #ff5400; }

.choose li:hover label {
  border-color: #ff5400;
  cursor: pointer; }

.choose input + label {
  border: 1px solid #898888;
  border-radius: 6px;
  vertical-align: middle; }

.choose input:checked + label {
  color: #ff5400;
  border-color: #ff5400; }

#choosePay .iconfont {
  font-size: 28px;
  vertical-align: middle; }

.icon-zhifubao1 {
  color: #1d82d4; }

.icon-weixin {
  color: #3cb035; }

.priceIcon, #payPrice {
  font-size: 30px;
  font-weight: bold;
  color: #ff5400; }

.goPay-a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 122px;
  height: 54px;
  background: #fe3232;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 54px;
  border-radius: 6px;
  margin-left: 28px; }

.goPay-a:hover, .goPay-a:focus {
  background: #ff4747;
  color: #fff; }

#finishPay {
  width: 640px;
  margin: 50px auto; }

#finishPay .payOrder {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

#finishPay .orderInfo {
  color: #030304;
  margin: 20px 0 70px; }

.checkOrder {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 160px;
  height: 54px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 54px;
  background: #fe3232;
  border-radius: 6px;
  margin-right: 82px; }

.checkOrder:hover, .checkOrder:focus {
  background: #ff4747;
  color: #fff; }

.person {
  margin-bottom: 82px; }

.person .col-lg-2 {
  padding: 0; }

.person .col-lg-10 {
  padding-left: 30px; }

.userInfo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 30px;
  width: 96%;
  background: #fff;
  margin: 0 auto; }

.userName {
  font-size: 18px;
  margin-top: 18px; }

.personBg {
  width: 96%;
  background: #fff;
  margin: 0 auto;
  height: 8px; }

.personNav .personNav_a {
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  color: #030304;
  text-align: center;
  width: 96%;
  background: #fff;
  margin: 0 auto; }

.personNav .active {
  background: #ff5400;
  color: #fff;
  width: 100%;
  margin: 0 auto; }

.personNav .personNav_a:hover, .personNav .personNav_a:focus {
  color: #ff5400; }

.personNav .active:hover, .personNav .active:focus {
  background: #ff5400;
  color: #fff; }

.myOrder {
  background: #fff; }

.orderTitle {
  padding: 30px 0 30px 40px;
  border-bottom: 1px solid #f3f3f3; }

.myOrder-tabs {
  height: 50px;
  line-height: 50px;
  padding-left: 40px;
  border-bottom: 1px solid #f3f3f3; }

.myOrder-tabs li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-right: 35px; }

.myOrder-tabs li a {
  position: relative; }

.badge {
  position: absolute;
  right: -20px;
  top: -10px;
  font-weight: normal;
  padding: 3px 6px;
  background: #ff5400;
  color: #fff; }

.myOrder-tabs .active a {
  color: #ff5400; }

.tableHead {
  height: 50px;
  line-height: 50px;
  text-align: center; }

.myOrderList {
  border-bottom: 1px solid #f3f3f3; }

.myOrderList_gifts {
  padding: 0 40px 28px 40px;
  margin-top: 10px; }

.myOrderList_gifts_out {
  background: #f7f7f7;
  padding: 24px 0; }

.gifts_t {
  color: #000;
  vertical-align: top;
  width: 42px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 137px; }

.gifts_img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 50px;
  height: 50px;
  border: 1px solid #ebebeb;
  background: #fff;
  text-align: center;
  line-height: 50px; }

.gifts_name {
  color: #000;
  vertical-align: middle; }

.myOrderList_gifts_out .row {
  margin-bottom: 28px;
  padding: 0;
  margin-left: 0;
  margin-right: 0; }

.myOrderList_gifts_out .row:last-child {
  margin-bottom: 0; }

.myOrderNum {
  height: 50px;
  line-height: 50px;
  background: #ebe9e9; }

.myGiftMoney, .myGiftNumber {
  text-align: center;
  height: 50px;
  line-height: 50px; }

.orderNumber {
  padding: 0 120px 0 40px; }

.orderGoods {
  padding: 24px 0 24px 40px; }

.myOrderList_gifts_out {
  position: relative; }

.myOrderList_gifts_out .goods-img {
  border: none; }

.myOrderList_gifts_out .col-lg-6 {
  padding: 0;
  margin-right: 20px; }

.myOrderList_gifts_out .orderGoods {
  padding: 0; }

.myOrderList_up {
  position: absolute;
  top: -20px;
  left: 30px;
  z-index: 0; }

.myOrderMoney, .myOrderNumber, .myOrderState {
  height: 150px;
  line-height: 150px;
  text-align: center; }

.doOrder {
  padding-top: 55px;
  text-align: center; }

.closeOrder {
  padding-top: 65px; }

.doOrder a {
  color: #ff5400; }

.myOrderTotal {
  height: 82px;
  line-height: 82px;
  font-size: 18px;
  padding-right: 40px; }

.finalMoney {
  font-weight: bold;
  color: #ff5400; }

.gotoBuy {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 122px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background: #fe3232;
  border-radius: 6px;
  margin-left: 20px;
  margin-top: 15px; }

.gotoBuy:hover, .gotoBuy:focus {
  background: #fe4b4b;
  color: #fff; }

.noOrder .tab-content, .noThisOrder, .noService .tab-content {
  padding: 50px 0;
  text-align: center;
  background: #f3f3f3; }

.noOrder_tips {
  font-size: 18px;
  margin-bottom: 28px; }

.goOrder {
  display: block;
  width: 120px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ff5400;
  color: #fff;
  font-size: 18px;
  border-radius: 5px; }

.goOrder:hover, .goOrder:focus {
  background: #ff651a;
  color: #fff; }

.goSee {
  color: #898888;
  font-size: 15px;
  margin-top: -18px; }

.orderDetailProcess {
  text-align: center;
  padding: 30px 40px;
  position: relative; }

.unpaid .detailOfferOrder, .paid .detailFendOrder, .paid .detailOfferOrder, .successOrder .detailOfferOrder, .successOrder .detailFendOrder, .successOrder .detailDeliverOrder, .closedOrder .stateRow {
  color: #ff5400; }

.line {
  width: 100%;
  height: 1px;
  background: #ebe9e9;
  position: relative;
  top: 18px; }

.detailCircle {
  width: 14px;
  height: 14px;
  border: 2px solid #ebe9e9;
  border-radius: 100%;
  margin: 10px auto;
  background: #fff;
  position: relative;
  z-index: 99; }

.unpaid .detailOfferOrder .detailCircle, .paid .detailFendOrder .detailCircle, .paid .detailOfferOrder .detailCircle, .successOrder .detailFendOrder .detailCircle, .successOrder .detailOfferOrder .detailCircle, .successOrder .detailDeliverOrder .detailCircle, .closedOrder .detailCircle {
  border-color: #ff5400; }

.orderDetailDo {
  width: 100%;
  padding: 28px 30px;
  border: 1px solid #fe3232;
  background: #fff5f0;
  margin-top: 28px;
  text-align: left;
  font-size: 18px;
  line-height: 2; }

.orderDetailDo_state, .orderDetailDo_money, .serviceDetail_state, .serviceDetail_type {
  color: #ff5400;
  padding-right: 30px; }

.order_bc {
  font-size: 14px; }

.orderDetailDo_time {
  color: #ff5400;
  padding-right: 20px; }

.detail_state {
  width: 65%; }

.orderDetailDo_btns {
  height: 64px;
  line-height: 64px; }

.cancelOrder {
  background: #ebe9e9;
  color: #030304;
  margin-left: 30px; }

.cancelOrder:hover, .cancelOrder:focus {
  background: #f0eeee;
  color: #030304; }

.orderDetail_tableHead {
  border-top: 1px solid #f3f3f3; }

.orderDetail_state {
  border-left: 1px solid #f3f3f3; }

.orderDetail_content {
  padding: 28px 40px;
  border-top: 1px solid #f3f3f3;
  color: #898888;
  line-height: 2; }

.orderDetail_content_t {
  font-size: 18px;
  margin-bottom: 15px;
  color: #030304; }

.edit, .yellowColor {
  font-size: 14px;
  color: #ff5400;
  padding-left: 20px;
  cursor: pointer; }

.yellowColor {
  padding: 0; }

.edit:focus, .yellowColor:focus {
  outline: none;
  color: #ff5400; }

#invoiceModal #invoice li {
  margin-top: 0;
  margin-bottom: 28px;
  width: 230px; }

#invoiceModal #invoice li:last-child {
  margin-right: 0;
  float: right; }

#comInvoice {
  display: none; }

#bzModal .form-group {
  margin-top: 28px; }

.unPickup .redLine1, .delivering .redLine2, .unpaid .redLine1, .paid .redLine2, .successOrder .redLine3, .closedOrder .redLine4, .sending .redLine3, .successPick .redLine4 {
  visibility: visible; }

.applyServiceHead {
  border-bottom: 1px solid #f3f3f3; }

.myOrderGift, .myOrderAccess, .myOrderQuality {
  text-align: center;
  line-height: 150px;
  border-left: 1px solid #f3f3f3; }

.applyService_content {
  color: #030304; }

.myOrderAccess {
  padding-top: 50px;
  line-height: inherit;
  height: 150px; }

.no_gift {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 15px;
  height: 1px;
  background: #898888;
  margin: 0 auto; }

#serviceKind li, #returnKind li {
  margin-top: 0; }

#applyNum .inputNum {
  width: 60px;
  color: #ff5400; }

#applyNum .btn {
  padding: 14px 18px; }

#applyNum .btn:hover, #applyNum .btn:focus, #applyNum .btn:visited {
  background: #fff; }

.orderDetail_content .sureOrder-text {
  margin-top: 0; }

.uploadImg {
  position: relative;
  margin-top: 28px; }

.a-upload {
  width: 132px;
  height: 132px;
  line-height: 132px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fff;
  border: 1px solid #898888;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none; }

.a-upload input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer; }

.a-upload .iconfont {
  font-size: 48px;
  color: #030304; }

.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none; }

.img_div {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.default_img {
  margin-right: 20px; }

.isImg {
  width: 132px;
  height: 132px;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px; }

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  border: 0;
  border-radius: 100%;
  background: #ff5400;
  width: 22px;
  height: 22px;
  line-height: 22px;
  color: white; }

.removeBtn:focus {
  outline: none; }

.orderDetail_tips {
  color: #898888;
  margin-top: 10px;
  position: relative; }

#orderDetail_tips1 {
  display: block;
  margin-top: 15px; }

.orderDetail_tips2 {
  color: #898888;
  display: none;
  margin-top: 28px; }

.delivery_select {
  color: #ff5400;
  margin-right: 30px;
  box-shadow: none; }

#delivery_self {
  display: none; }

.delivery_num {
  box-shadow: none; }

.delivery_select:focus, .delivery_num:focus {
  outline: none;
  border-color: #ccc;
  box-shadow: none; }

.offerReview {
  margin: 0 28px 0 0; }

.calendarInput {
  padding: 6px 12px;
  border: none;
  border-radius: 4px; }

#other_delivery {
  position: relative; }

.orderDetail_tips .icon-rili, .orderDetail_content .icon-rili {
  position: absolute;
  left: 200px;
  top: 4px;
  color: #ff5400;
  cursor: pointer; }

.calendarInput:focus {
  outline: none;
  border: none; }

.applySuccess {
  padding: 0 40px 30px 40px; }

.applySuccess .col-lg-7 {
  border-right: 1px solid #fc1414; }

.applyOk_right {
  padding-top: 20px; }

.applyOk_left .payOk {
  padding-right: 20px;
  vertical-align: middle; }

.okText {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 70%;
  line-height: 2;
  font-size: 14px;
  vertical-align: middle; }

.red_18 {
  color: #ff5400;
  font-size: 18px; }

.wechatOk {
  padding: 0 10px;
  vertical-align: middle; }

.col-20 {
  width: 20%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left; }

.service_bc {
  color: #898888; }

.problemImgs {
  margin-top: 10px; }

.problemImgs img {
  margin-right: 5px; }

.redLine1, .redLine2, .redLine3, .redLine4, .redLine51, .redLine52, .redLine53, .redLine54, .redLine55 {
  width: calc(12.5% - 16px);
  height: 1px;
  background: #ff5400;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden; }

.redLine2 {
  width: calc(37.5% - 8px); }

.redLine3 {
  width: 62.5%; }

.redLine4 {
  width: 100%; }

.redLine51 {
  width: calc(10% - 16px); }

.redLine52 {
  width: calc(30% - 8px); }

.redLine53 {
  width: 50%; }

.redLine54 {
  width: calc(70% + 8px); }

.redLine55 {
  width: 100%; }

.sureOrder-words {
  margin-top: 0;
  color: #030304;
  padding: 28px; }

#orderWordsDiv .a-upload {
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  margin-bottom: 0; }

#orderWordsDiv .isImg {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-right: 30px; }

#orderWordsDiv .orderDetail_tips {
  margin-bottom: 27px;
  margin-top: 20px; }

.order_tips {
  color: #898888; }

.reviewOrder .redLine51, .failOrder .redLine51, .alreadyOrder .redLine52, .pickOrder .redLine53, .dealOrder .redLine54, .doneOrder .redLine55 {
  visibility: visible; }

.reviewOrder .detailOfferOrder .detailCircle, .failOrder .detailOfferOrder .detailCircle, .alreadyOrder .detailOfferOrder .detailCircle, .alreadyOrder .detailFendOrder .detailCircle, .pickOrder .detailOfferOrder .detailCircle, .pickOrder .detailFendOrder .detailCircle, .pickOrder .detailDeliverOrder .detailCircle, .dealOrder .detailOfferOrder .detailCircle, .dealOrder .detailFendOrder .detailCircle, .dealOrder .detailDeliverOrder .detailCircle, .dealOrder .detailDoOrder .detailCircle, .doneOrder .detailOfferOrder .detailCircle, .doneOrder .detailFendOrder .detailCircle, .doneOrder .detailDeliverOrder .detailCircle, .doneOrder .detailDoOrder .detailCircle, .doneOrder .detailFinishOrder .detailCircle {
  border-color: #ff5400; }

.reviewOrder .detailOfferOrder, .failOrder .detailOfferOrder, .alreadyOrder .detailOfferOrder, .alreadyOrder .detailFendOrder, .pickOrder .detailOfferOrder, .pickOrder .detailFendOrder, .pickOrder .detailDeliverOrder, .dealOrder .detailOfferOrder, .dealOrder .detailFendOrder, .dealOrder .detailDeliverOrder, .dealOrder .detailDoOrder, .doneOrder .detailOfferOrder, .doneOrder .detailFendOrder, .doneOrder .detailDeliverOrder, .doneOrder .detailDoOrder, .doneOrder .detailFinishOrder {
  color: #ff5400; }

.unPickup .detailOfferOrder .detailCircle, .delivering .detailOfferOrder .detailCircle, .delivering .detailFendOrder .detailCircle, .sending .detailOfferOrder .detailCircle, .sending .detailFendOrder .detailCircle, .sending .detailDeliverOrder .detailCircle, .successPick .detailOfferOrder .detailCircle, .successPick .detailFendOrder .detailCircle, .successPick .detailDeliverOrder .detailCircle, .successPick .detailFinishOrder .detailCircle {
  border-color: #ff5400; }

.unPickup .detailOfferOrder, .sending, .sending .detailDeliverOrder, .sending .detailOfferOrder, .sending .detailFendOrder, .successPick .stateRow {
  color: #ff5400; }

.deliveryInfo_block {
  padding: 30px 40px 0 40px; }

.deliveryInfo_p {
  font-size: 18px; }

.trackingMsg {
  padding: 20px 40px 30px 40px;
  position: relative; }

.sending .angle_up, .unPickup .angle_up, .delivering .angle_up, .successPick .angle_up {
  position: absolute;
  top: -10px;
  left: 62.5%;
  margin-left: -26px; }

.unPickup .angle_up {
  left: 12.5%;
  margin-left: -8px; }

.delivering .angle_up {
  left: 37.5%;
  margin-left: -16px; }

.successPick .angle_up {
  left: 87.5%;
  margin-left: -42px; }

.trackingMsgBlock {
  padding: 28px;
  background: #f3f3f3; }

.trackingMsg_t {
  font-size: 18px;
  padding-bottom: 27px; }

.trackNowAdd, .trackNowTime {
  color: #ff5400; }

.trackingBlock {
  padding: 26px 0 0 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff; }

.ulBlock {
  border-left: 1px solid #ebe9e9; }

.trackingTips {
  padding-top: 26px; }

.trackingList li {
  margin-bottom: 25px; }

.trackingCircle {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #ebe9e9;
  margin-right: 28px;
  position: relative;
  left: -4px;
  top: -2px; }

.trackingDay, .trackingWeek, .trackingTime, .trackingAddress {
  padding-right: 28px; }

.trackingTime {
  padding-left: 172px; }

.trackingList li:first-child .trackingTime, .trackingList li:first-child .trackingAddress {
  padding-left: 0; }

.trackingList:first-child li:first-child .trackingCircle {
  background: #ff5400; }

.unPickup .trackingBlock {
  text-align: center; }

.unPickup-text {
  font-size: 18px;
  margin-bottom: 62px; }

.deliveryCar {
  margin-top: 42px;
  margin-bottom: 18px; }

.discountTitle {
  padding-right: 40px; }

.discountTitle .iconfont, .discountTitle .goBuy {
  vertical-align: middle; }

.discountImgs {
  padding: 0 40px 30px 40px; }

.discountImg {
  display: block;
  margin-top: 28px; }

.addressBlock {
  padding: 0 40px; }

.edit_tip, .delete_tip, .change_tip {
  padding-right: 10px;
  cursor: pointer; }

.addressBlock .addMenu {
  margin-bottom: 0; }

.address-box select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 164px !important;
  float: left;
  margin-right: 28px; }

.address-box select:last-child {
  margin-right: 0; }

.addModal_form .checkbox {
  width: 100%;
  margin-bottom: 28px; }

.myInfoTitle {
  border: none; }

.myInfoBlock {
  padding: 27px 40px 0 40px;
  border-top: 1px solid #f3f3f3; }

.myInfoBlock {
  font-size: 18px; }

.myInfoBlock_p {
  padding-bottom: 27px; }

.myInfoBlock a {
  color: #ff5400; }

.myInfoBlock_s {
  font-size: 14px;
  color: #898888;
  padding-bottom: 27px; }

.myInfoBlock_a {
  margin-top: 28px; }

.form-label {
  font-size: 18px;
  margin-bottom: 28px; }

.btn-yz {
  height: 50px;
  line-height: 50px;
  padding: 0 29px;
  background: #ff5400;
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
  margin-bottom: 20px;
  border: 1px solid #ff5400; }

.btn-grey {
  background: #898888;
  border: 1px solid #898888; }

.btn-yz:hover, .btn-yz:focus {
  outline: none;
  color: #fff;
  border: 1px solid #ff651a;
  border-left: none;
  background: #ff651a; }

.btn-grey:hover, .btn-grey:focus {
  border: 1px solid #969595;
  background: #969595; }

.modal-tips {
  font-size: 18px;
  margin: 28px 0;
  text-align: center; }

.btn-qx {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ebe9e9;
  border-radius: 4px;
  background: #ebe9e9;
  font-size: 18px; }

.btn-qx:hover, .btn-qx:focus {
  border: 1px solid #f0eeee;
  background: #f0eeee;
  outline: none; }

.has-error .help-block {
  color: #fe3232;
  font-size: 12px;
  padding-left: 29px; }

.has-error .form-control, .has-error .form-control:focus, .has-success .form-control, .has-success .form-control:focus {
  border-color: #dfdfdf; }

.form-control-feedback {
  position: absolute;
  right: 19px; }

.has-feedback label ~ .form-control-feedback {
  top: 62px; }

.has-error .form-control-feedback {
  color: #000; }

.has-success .form-control-feedback {
  color: #ff5400; }

.form-group {
  position: relative; }

.newPwd-group .form-control-feedback {
  top: 7px; }

.btn-red[disabled]:hover {
  cursor: not-allowed; }

.login_header {
  padding: 40px 0; }

.login_content {
  overflow: hidden;
  background: url("images/loginBg.jpg") center center no-repeat;
  height: 780px;
  position: relative; }

.login {
  width: 360px;
  background: rgba(250, 250, 250, 0.9);
  position: absolute;
  right: 18%;
  top: 180px;
  padding: 28px; }

.login_footer {
  text-align: center; }

.ser_footer {
  font-size: 16px;
  color: #898888;
  padding: 24px 0 10px; }

.ser_kefu {
  padding: 0 40px 0 10px; }

.ser_num {
  padding: 0 0 0 10px; }

.line_footer {
  font-size: 12px;
  color: #bbbaba;
  padding-bottom: 20px; }

.login_t {
  font-size: 20px;
  color: #030304;
  text-align: center;
  margin-bottom: 28px; }

.other_t {
  font-size: 14px;
  color: #898888;
  text-align: center; }

.login_other {
  color: #ff874c;
  padding: 0 10px; }

.login_other .iconfont {
  font-size: 30px !important; }

@media (min-width: 768px) {
  .addressModal .form-horizontal .control-label {
    padding-top: 0;
    line-height: 50px; }

  .myInfoModal .modal-dialog {
    width: 480px; }

  .addressModal .modal-dialog {
    width: 720px; }

  .myInfoModal .modal-content {
    box-shadow: none;
    border: none; }

  .myInfoModal .modal-header {
    height: 80px;
    line-height: 80px;
    padding: 23px 28px;
    border-bottom: none; }

  .myInfoModal .modal-title {
    text-align: center;
    font-size: 24px; }

  .myInfoModal .modal-header .icon-close {
    font-size: 24px;
    padding-top: 8px; }

  .myInfoModal .close {
    font-weight: 600;
    color: #030304;
    text-shadow: none;
    background: none;
    filter: alpha(opacity=40);
    opacity: 0.4; }

  .myInfoModal .close:hover {
    filter: alpha(opacity=60);
    opacity: 0.6; }

  .myInfoModal .modal-header .close:focus {
    outline: none; }

  .myInfoModal .modal-body {
    padding: 0 28px 80px 28px; }

  .modal-backdrop.in {
    filter: alpha(opacity=35);
    opacity: .35; }

  .myInfoModal .form-group {
    margin-bottom: 28px; }

  #login .form-group {
    margin-top: 28px; }

  #login .form-links {
    margin-bottom: 20px; }

  .myInfoModal .input-group {
    margin-bottom: 8px; }

  .myInfoModal .form-control, #login .form-control {
    width: 100%;
    height: 50px;
    padding: 12px 29px;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    vertical-align: middle;
    background: transparent; }

  #login .form-group {
    margin-bottom: 0; }

  .btn-red {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ff5400;
    border-radius: 4px;
    background: #ff5400;
    color: #fff;
    font-size: 18px; }

  .btn-red:hover, .btn-red:focus {
    outline: none;
    border: 1px solid #ff651a;
    color: #fff;
    background: #ff651a; }

  .addressModal .form-group {
    margin-bottom: 0; }

  #login .mobile-number {
    padding: 12px 29px 12px 95px; }

  #login .form-control, #login .btn-yz {
    margin-bottom: 28px; } }
@media (min-width: 768px) and (max-width: 939px) {
  #navTopList li {
    padding: 10px 20px; } }
@media (min-width: 1600px) and (max-width: 1899px) {
  .container {
    width: 1240px !important; } }
@media (min-width: 1900px) {
  .container {
    width: 1240px !important; } }

/*# sourceMappingURL=app.css.map */
